.admin-product-post[open] {
  width: 100%;
}
.admin-product-post[open] > summary {
  justify-content: flex-start;
  padding-left: 1.5rem;
  width: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.product-post-header {
  background-color: #07909c;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  width: 170px;
  height: 50px;
  cursor: pointer;
}
.product-post-header h2 {
  font-size: 2rem;
}
.post-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #07909c;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 70vh;
  padding: 0 2rem 2rem 2rem;
  animation: form-ani 2000ms ease;
  -webkit-animation: form-ani 1000ms ease forwards;
  font-size: 1.8rem;
  gap: 1rem;
}
.admin-product-post form {
  background-color: #07909c;
}
.post-form label {
  font-size: 2rem;
  font-weight: 550;
  color: #fff;
  height: 15%;
}
.post-form input,
.post-form textarea {
  width: 100%;
  height: 50%;
  padding: 0 20px;
  border-radius: 0.5rem;
}
.post-form input:focus,
.post-form textarea:focus {
  outline: 0;
}
.post-form input[type='file'] {
  display: none;
}
#admin-product-upload {
  color: black;
  display: flex;
  align-items: center;
  justify-content: left;
  border-radius: 5px;
  height: 10%;
  /* width: 15%; */
  font-size: 1.5rem;
}
#admin-product-upload button {
  width: 22%;
  height: 100%;
}
.post-size {
  display: flex;
  align-items: center;
  height: 10% !important;
}
.post-size input {
  width: 4%;
  height: 100%;
  margin: 0 1rem;
}
