/* Default styles */

.cart-main-container {
  display: flex;
  flex-direction: column;
  margin: 10vmin 0 0 30vmin;
  gap: 5rem;
}
.cart-category .cart-menu {
  display: none;
  padding: 0 5vw;
}
.cart-header {
  display: flex;
  justify-content: space-between;
  padding: 0 5vw;
}
.cart-header h1 {
  font-size: clamp(2.3rem, 3vw, 40rem);
}
.cart-header button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: clamp(2rem, 2.2vw, 40rem);
}
.cart-header button:hover {
  cursor: pointer;
}
.teal {
  color: #07909c;
}
.crimson {
  color: crimson;
}
.actions-wrapper {
  display: flex;
  gap: 2rem;
}

.shopping-cart {
  display: flex;
  flex-direction: column;
  width: 75vw;
  padding: 0 5vw;
  gap: 2rem;
}
.cart-label {
  background-color: #07909c;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 0.75fr 1fr 1fr 1fr;
  place-items: center;
  border-radius: 2rem;
}
.cart-label :last-child {
  /* justify-self: end; */
}
.cart-label h2 {
  font-size: clamp(0.8rem, 1.2vw, 4rem);
  color: white;
}
.cart-checkbox {
  border: 1px solid black;
  background-color: white;
  width: 1.5vw;
  aspect-ratio: 1/1;
}

.cart-footer {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 2fr;
  grid-template-areas: 'b b b t';
  place-items: flex-end;
  align-items: center;
}
.total {
  text-align: center;
  grid-area: t;
  border-top: 1px solid black;
  padding: 2rem 0 2rem 0rem;
  width: 100%;
  font-size: clamp(1rem, 1.5vw, 8rem);
}

@media (max-width: 810px) {
  .cart-main-container {
    margin: 2rem;
    gap: 2rem;
  }
  .cart-category .cart-menu,
  .shopping-cart,
  .cart-header {
    padding: 0;
  }
  .shopping-cart {
    width: 100%;
  }
  .show-nav {
    visibility: visible;
    transform: translate(0%);
  }
  .hide-nav {
    visibility: hidden;
    transform: translate(-100%);
  }
  .cart-checkbox {
    width: 2.5vw;
    aspect-ratio: 1/1;
  }

  .cart-category .cart-menu {
    display: block;
    background-color: transparent;
  }
}
