.item {
  display: grid;
  grid-template-columns: 0.75fr 1fr 1fr 1fr;
  place-items: center;
}
.item :nth-child(2) {
  justify-self: flex-start;
}

.cart-item {
  display: flex;
}
.cart-item img {
  width: 4vw;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-right: 2rem;
}
.cart-item p {
  font-size: clamp(0.75rem, 1vw, 6rem);
  color: gray;
}
.item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.quantity {
  display: flex;
  align-items: center;
}
.quantity input {
  width: 5vw;
  height: 2vw;
  font-size: clamp(1.5rem, 1.5vw, 8rem);

  text-align: center;
}
.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.quantity input:focus {
  outline: none;
}
.quantity button {
  background-color: transparent;
  width: 2vw;
  aspect-ratio: 1/1;
  font-size: 2vw;
  color: gray;
}

.item-price {
  font-size: clamp(1rem, 1.5vw, 8rem);
}
.item-label {
  font-size: clamp(1rem, 1.5vw, 8rem);
}
@media (max-width: 810px) {
  .cart-item img {
    width: 4vmin;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-right: 2rem;
  }
  .quantity button {
    width: 3.5vw;
    font-size: 3.5vw;
  }
}
