.store-main-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 190px;
  gap: 5rem;
  animation: main-container-ani 2500ms 1 ease;
  width: 100vw;
}
.store-menu {
  display: none;
}
.store-category-title {
  text-align: center;
  margin-bottom: 3.5vh;
  width: 30vw;
}
.store-category-title h1 {
  background-color: #0165b2;
  color: #fff;
  text-shadow: 2px 2px #074a7d;
  padding: 1rem;
  border-radius: 0 20px 20px 0;
  font-size: 2rem;
  letter-spacing: 0.5em;
}
.store-category-contents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 15px 25px 15px;
  gap: 2rem;
}
.uni-card {
  background-color: rgba(1, 101, 178, 1);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 70vh;
  gap: 1rem;
  border-radius: 15px;
  transition: all 450ms;
  animation: card-ani 1 1000ms linear forwards;
  animation-delay: 400ms;
  position: relative;
  background-repeat: no-repeat;
  background-size: 65% 100%;
  background-position: left;
}
.uni-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 65%;
  height: 100%;
  border-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.uni-card::after {
  content: 'Student Online Marketplace';
  transform: rotate(-90deg);
  position: absolute;
  font-size: 1.8rem;
  font-weight: 600;
  bottom: 50%;
  right: -20%;
  color: white;
}
.backdrop-image {
  z-index: 99;
  filter: brightness(100%);
  width: 65%;
  aspect-ratio: 1/1.25;
  border-radius: 15px;
  transition: all 450ms;
}
.uni-card h1 {
  text-align: left;
  font-size: 2rem;
  font-family: arial;
  color: white;
  text-shadow: 2px 2px black;
}
.uni-card p {
  text-align: center;
  width: 50%;
  border-radius: 10px;
  color: white;
  font-size: 1.5rem;
  background-color: #02487e;
  padding: 1rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.uni-card:hover {
  scale: 1.05;
}
.uni-card:hover img {
  transition-delay: 100ms;
  scale: 1.1;
}

@keyframes card-ani {
  0% {
    transform: translateX(-900px);
    -webkit-transform: translateX(-900px);
    -moz-transform: translateX(-900px);
    -ms-transform: translateX(-900px);
    -o-transform: translateX(-900px);
    opacity: 0;
  }
  50% {
    transform: translateX(70px);
    -webkit-transform: translateX(70px);
    -moz-transform: translateX(70px);
    -ms-transform: translateX(70px);
    -o-transform: translateX(70px);
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

@media (max-width: 810px) {
  .store-main-container {
    gap: 1rem;
    margin: 0;
  }

  .store-menu {
    background-color: transparent;
    width: 15%;
    display: block;
  }
  .store-category-title {
    width: unset;
    margin: 0 3rem;
  }
  .store-category-title h1 {
    border-radius: unset;
  }
  .uni-card {
    width: 300px;
    height: 100%;
    margin: 0 auto;
    border-radius: 10px;
    border-bottom: 1rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 3vw 0rem;
  }
  .uni-card::after {
    right: -90px;
  }

  .show-nav {
    visibility: visible;
    transform: translate(0%);
  }
  .hide-nav {
    visibility: hidden;
    transform: translate(-100%);
  }
}
